
<style>
.grid-container {
    display: grid;
    height: 630px;
    width: 1350px;
    align-content: start;
    grid-template-columns: repeat(133, 10px);
    grid-template-rows: repeat(63, 10px);
    grid-gap: 0px;
    background-color: #fffff8;
    padding: 0px;
}

.grid-container > div {
    border: 1px solid #ffa94d;
    background-color: #fffff8;
    text-align: center;
    padding: 0px 0;   
    color:rgba(255, 255, 255, 0.8)
}
</style>
<center>
<div id="draw"></div>

<div>
    <form action="http://127.0.0.1:8000/" method="POST">
        {% csrf_token %}
        Dataset:<input name="text" id="tt" value={{stock}}>
        <button type="button" onclick='addfunc()' id='add'>Add dataset</button>
        <button type="submit" onclick='loadingfunc()' id='sub'>See Hotspots</button>
        <input name="ranx" id="randx" value='50' >
        <button type="button" onclick='randomize()'>Random set</button>
        <button type="button" onclick='freezefunc()' id='fr'>Freeze Space</button>
    </form>
</div>

</center>
<script>
    function addfunc(){
        valgrid=document.getElementById('tt').value;
        for(i=0;i<valgrid.length;i++){
            if(valgrid[i]==1){
                document.getElementById(i).innerHTML='*';
                document.getElementById(i).style.border = '1px solid #000000';
                document.getElementById(i).style.color = '#000000';
            }
            else{
                document.getElementById(i).innerHTML='';
                document.getElementById(i).style.border = '1px solid #ffa94d';
                document.getElementById(i).style.color = 'rgba(255, 255, 255, 0.8)';
            }
        }
        alert("Dataset added");
    }
    function loadingfunc(){ 
        freezefunc();
        var str="<span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span><span class=\"sr-only\">Loading...</span>";
        document.getElementById('sub').innerHTML=str;
    }
</script>

    
<script src="http://127.0.0.1:8000/static/myapp/util1.js"></script>

