<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 10; padding: 10 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBUuOtNyFrqUt5QwgwIhJPMtcaW8Hps6Tk">
    </script>
    {% load static %}

    <script type="text/javascript">
      var map;
function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(12.5487 , 78.1356),
            zoom: 9,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);


            // 40.73434766 , -73.98454737548828
            //  28.14 , 77.2127

//  {
//    center: {lat: 41.878, lng: -87.629},
 //   population: 2714856
  //},
  
$(document).ready(function() {
  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

    $.getJSON( "http://127.0.0.1:8000/static/myapp/testout.txt?rand=23423423"   , function(json1) {
      $.each(json1, function(key, data) {
        
        var coord = new google.maps.LatLng(data.center.lat, data.center.lng);
        // Creating a marker and putting it on the map
        var marker = new google.maps.Marker({position: coord, map: map,
          icon: iconBase + 'parking_lot_maps.png'});

        var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: data.center,
            radius: data.population*496
          });
          
          console.log(data.population);
      });
    });
  });
  $(document).ready(function() {
    $.getJSON( "http://127.0.0.1:8000/static/myapp/testin.txt?rand=23423423"   , function(json1) {
      $.each(json1, function(key, data) {
        var coord = new google.maps.LatLng(data.lat, data.lng);
        // Creating a marker and putting it on the map
        var marker = new google.maps.Marker({position: coord, map: map});
       // console.log("im here "+data.lat+' '+data.lng);

      });
    });
  });
}
    </script>
    {% load static %}
    <script type="text/javascript" src="{% static "myapp/jq.js" %}"></script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>

  </body>
</html>
